.pacifico{
  font-family: 'pacifico', cursive;
}
.tombol{
  color: white !important;
}
.icon{
  border-radius: 80px;
  width: 55px;
  height: 100%;
}
/* Navbar */
.brand{
  font-size: 26px !important;
}
/* Jumbotron */
.jumbotron{
  margin: 0px auto 60px !important;
  color: white;
  background: url(./img/nasgor-bg.png);
  background-size: cover;
}
.jumbotron h1{
  font-size: 55px;
}
.jumbotron h1 img{
  border-radius: 100px;
}
.jumbotron p{
  font-size: 24px;
}
/* Header */
.header{
  margin: 60px auto !important;
}
.header h2{
  margin-bottom: 3rem!important;
}
.header .store{
  margin-top: 2rem;
  margin-left: 2rem;
}
/* Cara Pesan */
.cara{
  margin: 60px auto !important;
}
.list:hover{
  font-weight: 600;
}
/* Fitur Menarik */
.fitur{
  margin: 60px auto !important;
  background-color: #ffcb69;
}
/* Barang Kebutuhan */
.barang{
  margin: 60px auto !important;
}
.card-box{
  overflow-y: auto;
  white-space: nowrap;
  -ms-overflow-y: hidden;
}
.kotak{
  width : 14rem ;
  height : 100% ;
  display : inline-block !important;
}
/* About */
.about{
  margin: 60px auto !important;
}
.about-content{
  background-color: #ffc107;
  padding: 5rem 2rem !important;
}
/* Comment */
.comment{
  margin: 60px auto !important;
}
/* Akhir */
.akhir{
  margin: 100px auto !important;
}
.akhir h1{
  font-size: 45px !important;
  font-weight: 700 !important;
  margin-bottom: 20px !important;
}
/* Footer */
.copy{
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}
@media (min-width: 992px) { 
  .brand, .navlink{
    color: white !important;
  }
  .navlink{
    margin: 8px;
    text-shadow: 1px 1px 1px #000;
  }
  .btn-link{
    margin: 8px;
    font-weight: 600 !important;
  }
  .jumbotron{
    margin-top: -100px !important;
    height: 600px;
  }
  .jumbotron h1{
    margin-top: 120px !important;
  }
  .header{
    margin: 120px auto !important;
  }
  .header h5{
    font-size: 24px !important;
  }
  .cara{
    margin: 120px auto !important;
  }
  .fitur{
    margin: 120px auto !important;
  }
  .barang{
    margin: 120px auto !important;
  }
  .about{
    margin: 120px auto !important;
  }
  .akhir{
    margin: 120px auto !important;
  }
  .copy{
    margin-left: 6rem;
  }
}